.git
.github
.Renviron
.Rhistory
.RData
.Ruserdata
.Rproj.user
.cache
.codex
.tmp
.vscode
.r-lib
.r-lib:
r-lib
cache
diagnostics
reports
plots
investigate
tests/testthat/cache
*.tar.gz
*.Rcheck
__pycache__
gha-creds-*.json
